<!-- page: User:Yuvipanda/AssessmentBar/Toolbar.template -->
 <nowiki>
<div id='assbar-container'>
    <div class='assbar-item' data-project="<%= project.name %>">
        <span class='assbar-item-title'>
            <%= project.name %>: 
        </span> 
        <select id='assbar-project-importance' class='assbar-importance'>
            <% _.each(project.importanceOptions, function(imp) { %>
            <option value="<%= imp %>" <% if(imp == data.importance) { %>selected <% } %>><%= imp %></option>
            <% }) %>
        </select>
        <select id='assbar-project-class' class='assbar-class'>
            <% _.each(project.classOptions, function(cls) { %>
            <option value="<%= cls %>" <% if(cls == data.class) { %>selected <% } %>><%= cls %></option>
            <% }) %>
        </select>
    </div>

    <% _.each(subProjects, function(importance, subProject) { %>
        <div class='assbar-item' data-project="<%= subProject %>">
            <span class='assbar-item-title'>
                <%= subProject %>: 
            </span>
            <select id='assbar-importance' class='assbar-importance'>
                <% _.each(project.importanceOptions, function(imp) { %>
                <option value="<%= imp %>" <% if(imp == importance) { %>selected <% } %>><%= imp %></option>
                <% }) %>
            </select>
        </div>
    <% }) %>

    <% _.each(actionItems, function(value, action) { %>
        <div class='assbar-item' data-action='<%= action %>'>
            <input type='checkbox' class='assbar-action-item' id='assbar-action-item-<%= action %>' <% if(value) { %>checked <% } %> />
            <label for='assbar-action-item-<%= action %>' class='assbar-item-check-label'>
                <%= action %>
            </label>
        </div>
    <% }) %>

    <div id="assbar-actions"> 
        <a href="http://yuvi.in/AssessmentBar/r/Unassessed_India_articles/" class="assbar-item" id='assbar-next'>Next Article &raquo;</a>
        <a href="#" class="assbar-item" id='assbar-save'>Save</a>
    </div>

</div>
</nowiki>
